html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
  font-size: 10px;
  font-family: 'Open Sans', sans-serif;
  background: url('../img/sun-pattern.png'); /* Backgroud from Subtle Patterns https://www.toptal.com/designers/subtlepatterns/*/
}

h1 {
  font-family: 'Bevan', serif;
  font-size: 5.6em;
  margin-bottom: 0;
 }

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
}

span {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.4em;
}

img, embed, object, video {
  max-width: 100%;
 }

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

/* Styles for Score Panel */
.score-panel {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  width: 660px;
  margin-bottom: 0;
  font-size: 1.8em;
  max-width: 100%;
}

.score-panel .movesCounter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.score-panel .stars {
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .stars li {
    list-style: none;
    display: inline-block;
}

.score-panel .restart {
    cursor: pointer;
}

/* Styles for Deck*/

#deck {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 660px;
  min-height: 680px;
  list-style: none;
  border-radius: 10px;
  padding: 32px;
  margin: 0 0 5em;
  background-color: #ef5734;
  background-image: linear-gradient(315deg, #ef5734 0%, #ffcc2f 74%); /* Gradient is Warm Beer from https://www.eggradients.com/*/
}

.card {
  width: 125px;
  height: 125px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  font-size: 0px;
  background-color: #87cefa;
  cursor: pointer;
}


.open {
  transform: rotateY(0);
}

.show {
    font-size: 33px;
    background-color: #7f7f7f;
    color: #f7f7f7;
    pointer-events: none;
    cursor: default;
}

.match {
    font-size: 36px;
    background-color: #ffed00;
    color: #474747;
    pointer-events: none;
    cursor: default;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.mismatch {
  background-color: #ff0000;
  -webkit-transform-origin: top center;
  -ms-transform-origin: top center;
  transform-origin: top center;
  -webkit-animation-name: swing;
  animation-name: swing;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.enable {
  pointer-events: auto;
}

.disabled {
  pointer-events: none;
}

/* Score Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border-radius: 10px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  align-self: flex-end;
  font-size: 28px;
  font-weight: bold;
}

close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
    cursor: pointer;
}

.modal-heading {
  font-size: 32px;
  font-family: 'Bevan', serif;
  margin: 10px auto;
}

.modal-text {
  font-size: 1.8em;
  font-family: 'Open Sans', sans-serif;
  margin: 10px auto;
}

.button {
  margin-top: 20px;
  padding: 15px 20px;
  border-radius: 5px;
  background-color: #ffed00;
  font-size: 2em;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

/* Animations*/
/* Animations generator -- http://www.theappguruz.com/tag-tools/web/CSSAnimations/*/
/* Pulse */
@-webkit-keyframes pulse {
 0% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
 }
 50% {
 -webkit-transform: scale3d(1.05, 1.05, 1.05);
 transform: scale3d(1.05, 1.05, 1.05);
 }
 100% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
 }
 }

 @keyframes pulse {
 0% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
 }
 50% {
 -webkit-transform: scale3d(1.05, 1.05, 1.05);
 transform: scale3d(1.05, 1.05, 1.05);
 }
 100% {
 -webkit-transform: scale3d(1, 1, 1);
 transform: scale3d(1, 1, 1);
 }
 }

/* Swing */
@-webkit-keyframes swing {
  20% {
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
  -webkit-transform: rotate3d(0, 0, 1, -10deg);
  transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
  -webkit-transform: rotate3d(0, 0, 1, 5deg);
  transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
  -webkit-transform: rotate3d(0, 0, 1, -5deg);
  transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  }
  }

  @keyframes swing {
  20% {
  -webkit-transform: rotate3d(0, 0, 1, 15deg);
  transform: rotate3d(0, 0, 1, 15deg);
  }
  40% {
  -webkit-transform: rotate3d(0, 0, 1, -10deg);
  transform: rotate3d(0, 0, 1, -10deg);
  }
  60% {
  -webkit-transform: rotate3d(0, 0, 1, 5deg);
  transform: rotate3d(0, 0, 1, 5deg);
  }
  80% {
  -webkit-transform: rotate3d(0, 0, 1, -5deg);
  transform: rotate3d(0, 0, 1, -5deg);
  }
  100% {
  -webkit-transform: rotate3d(0, 0, 1, 0deg);
  transform: rotate3d(0, 0, 1, 0deg);
  }
  }
